In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_submission = pd.read_csv('/Users/shendong/Desktop/Springboard_local/stanford-rna-3d-folding/sample_submission.csv')
df_train_label = pd.read_csv('/Users/shendong/Desktop/Springboard_local/stanford-rna-3d-folding/train_labels.csv')
df_train_seq = pd.read_csv('/Users/shendong/Desktop/Springboard_local/stanford-rna-3d-folding/train_sequences.csv')
df_validation_label = pd.read_csv('/Users/shendong/Desktop/Springboard_local/stanford-rna-3d-folding/validation_labels.csv')
df_validation_seq = pd.read_csv('/Users/shendong/Desktop/Springboard_local/stanford-rna-3d-folding/validation_sequences.csv')
df_test_seq = pd.read_csv('/Users/shendong/Desktop/Springboard_local/stanford-rna-3d-folding/test_sequences.csv')

In [3]:
df_submission.head()

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,y_3,z_3,x_4,y_4,z_4,x_5,y_5,z_5
0,R1107_1,G,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,R1107_2,G,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,R1107_3,G,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,R1107_4,G,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,R1107_5,G,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df_train_label.head()

         ID resname  resid     x_1        y_1     z_1
0  1SCL_A_1       G      1  13.760 -25.974001   0.102
1  1SCL_A_2       G      2   9.310 -29.638000   2.669
2  1SCL_A_3       G      3   5.529 -27.813000   5.878
3  1SCL_A_4       U      4   2.678 -24.900999   9.793
4  1SCL_A_5       G      5   1.827 -20.136000  11.793

In [5]:
df_train_seq.head()

,target_id,sequence,temporal_cutoff,description,all_sequences
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA..."

In [6]:
df_validation_label.head()

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,...,z_37,x_38,y_38,z_38,x_39,y_39,z_39,x_40,y_40,z_40
0,R1107_1,G,1,-5.499,8.520000,8.605000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
1,R1107_2,G,2,-5.826,10.453000,14.010000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2,R1107_3,G,3,-5.849,14.768000,17.584999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
3,R1107_4,G,4,-5.784,19.985001,18.666000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
4,R1107_5,G,5,-5.755,25.533001,17.132999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18

In [7]:
df_validation_seq.head()
#cutofftime 2022-05-27

,target_id,sequence,temporal_cutoff,description,all_sequences
0,R1107,GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUU...,2022-05-28,CPEB3 ribozyme\nHuman\nhuman CPEB3 HDV-like ri...,>7QR4_1|Chain A|U1 small nuclear ribonucleopro...
1,R1108,GGGGGCCACAGCAGAAGCGUUCACGUCGCGGCCCCUGUCAGCCAUU...,2022-05-27,CPEB3 ribozyme\nChimpanzee\nChimpanzee CPEB3 H...,">7QR3_1|Chains A, B|U1 small nuclear ribonucle..."
2,R1116,CGCCCGGAUAGCUCAGUCGGUAGAGCAGCGGCUAAAACAGCUCUGG...,2022-06-04,Cloverleaf RNA\nPoliovirus\nCrystal Structure ...,">8S95_1|Chain A[auth C]|Lysine tRNA scaffold,P..."
3,R1117v2,UUGGGUUCCCUCACCCCAAUCAUAAAAAGG,2022-06-03,PreQ1 class I type III riboswitch\nK. pneumoni...,">8FZA_1|Chains A, B|PreQ1 Riboswitch (30-MER)|..."
4,R1126,GGAAUCUCGCCCGAUGUUCGCAUCGGGAUUUGCAGGUCCAUGGAUU...,2022-06-11,Traptamer\nSynthetic\nAdditional Information: ...,>8TVZ_1|Chain A[auth C]|RNA (363-MER)|syntheti...

In [8]:
df_test_seq.head()

,target_id,sequence,temporal_cutoff,description,all_sequences
0,R1107,GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUU...,2022-05-28,CPEB3 ribozyme\nHuman\nhuman CPEB3 HDV-like ri...,>7QR4_1|Chain A|U1 small nuclear ribonucleopro...
1,R1108,GGGGGCCACAGCAGAAGCGUUCACGUCGCGGCCCCUGUCAGCCAUU...,2022-05-27,CPEB3 ribozyme\nChimpanzee\nChimpanzee CPEB3 H...,">7QR3_1|Chains A, B|U1 small nuclear ribonucle..."
2,R1116,CGCCCGGAUAGCUCAGUCGGUAGAGCAGCGGCUAAAACAGCUCUGG...,2022-06-04,Cloverleaf RNA\nPoliovirus\nCrystal Structure ...,">8S95_1|Chain A[auth C]|Lysine tRNA scaffold,P..."
3,R1117v2,UUGGGUUCCCUCACCCCAAUCAUAAAAAGG,2022-06-03,PreQ1 class I type III riboswitch\nK. pneumoni...,">8FZA_1|Chains A, B|PreQ1 Riboswitch (30-MER)|..."
4,R1126,GGAAUCUCGCCCGAUGUUCGCAUCGGGAUUUGCAGGUCCAUGGAUU...,2022-06-11,Traptamer\nSynthetic\nAdditional Information: ...,>8TVZ_1|Chain A[auth C]|RNA (363-MER)|syntheti...

In [9]:
!pip install biopython

Requirement already satisfied: biopython in /opt/anaconda3/lib/python3.11/site-packages (1.85)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (from biopython) (1.26.4)

[notice] A new release of pip is available: 25.0.1 -> 25.1
[notice] To update, run: pip install --upgrade pip

In [12]:
pip install --upgrade pip

Requirement already satisfied: pip in /opt/anaconda3/lib/python3.11/site-packages (24.3.1)
Collecting pip
  Downloading pip-25.0.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-25.0.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 9.3 MB/s eta 0:00:00:00:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.3.1
    Uninstalling pip-24.3.1:
      Successfully uninstalled pip-24.3.1
Successfully installed pip-25.0.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
from Bio import SeqIO

In [11]:
import pandas as pd

def read_fasta(file_path):
    ids = []
    seqs = []
    with open(file_path, 'r') as f:
        seq = ""
        for line in f:
            line = line.strip()
            if line.startswith(">"):
                if seq:
                    seqs.append(seq)
                    seq = ""
                ids.append(line[1:])  # remove '>'
            else:
                seq += line
        seqs.append(seq)  # add last sequence
    return pd.DataFrame({'id': ids, 'sequence': seqs})

In [12]:
df_fasta = read_fasta('/Users/shendong/Downloads/stanford-rna-3d-folding(1)/MSA/1A1T_B.MSA.fasta')
df_fasta

      id              sequence
0  query  GGACUAGCGGAGGCUAGUCC

In [13]:
df_test_seq[df_test_seq['sequence'] == 'GGCUCUGUGGCGCAAUGGAUAGCGCAUUGGACUUCUAGCUGAGCCU...'
]

Empty DataFrame
Columns: [target_id, sequence, temporal_cutoff, description, all_sequences]
Index: []

In [14]:
df_validation_seq['sequence'].unique()

array(['GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU',
       'GGGGGCCACAGCAGAAGCGUUCACGUCGCGGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU',
       'CGCCCGGAUAGCUCAGUCGGUAGAGCAGCGGCUAAAACAGCUCUGGGGUUGUACCCACCCCAGAGGCCCACGUGGCGGCUAGUACUCCGGUAUUGCGGUACCCUUGUACGCCUGUUUUAGCCGCGGGUCCAGGGUUCAAGUCCCUGUUCGGGCGCCA',
       'UUGGGUUCCCUCACCCCAAUCAUAAAAAGG',
       'GGAAUCUCGCCCGAUGUUCGCAUCGGGAUUUGCAGGUCCAUGGAUUACACCAUGCAACGCAGACCUGUAGAUGCCACGCUAGCCGUGGUGAGGGUCGGGUCCAGAUGUCAUUCGACUUUAACGCGCCUAAGCGUUGAAGGCGUGUUAGAGCAGAUAGUUCGCUAUCUGGGGAGCCUGUUCGCAGGCUCAGGAGCCUUCGGGCUCCUAGCGCUAUUACCCCGGACACCACCGGGCAGACAAGUAAUGGUGCUCCUCGAAUGACUUCUGUUGAGUAGAGUGUGGGCUCCGCGGCUAGUGUGCACCUUAGCGGUGAAUGUCUGACACCGUUAAGGUGGUUACUCUUCGGAGUAACGCCGAGAUUCC',
       'GGAAUAUCGUCAUGGUGAUUCGUCACCAUGAGGCUAGAUCUCAUAUCUAGCGCUUUCGAGCGCUAGAGUCCUUAUCUAGCCGGUUUAUACUUUCGAGUGUGAACCCGAUAUUCCGCGGAUCACUAUGAGUCGUUCGCGGCUCAUAGUCCGGCUCAAAGGACAUCAUGGCCUGUUCGCAGGUUGUGAUUAUGAGUGAGCCGGGUAAGGCAUACCGUUCGCGGUAUGUCUUACGAUCCGC',
       'GGAUACGUCUACGCUCAGUGACGGACUCUCUUCGGAGAGUCUGACAUCCGAACCAUACACGGAUGUGCCUCGCCGAACAGUCUACGGCGAGCUUAAGCGCUGGGGACGCCCAACGCAUCACAAAGACUGAGUGAUGAACCAGAAGUAUGGACUGGUUGCGUUGGUGGAGACGGUCGGGUCCAGUUCGCUGUCGAGUAGAGUGUGGGCUCCAUCGACGCCGCUUUAAGGUCCCCAAUCGUGGCGUGUCGGCCUGCUUCGGCAGGCACUGGCGCCGGGACCUUGAAGAGAUGAGAUUUCGAUCUCAUCUUUGGGUGUCUCUGGUGCUUGAGGGCCCUGUGUUCGCACAGGGCCGCUCACUGGGUGUGGACGUAUCC',
       'GGGAGAGUACUAUUCAGAUGCAGACCGCAAGUUCAGAGCGGUUUGCAUCUAGGGUACGUUUUCGAACGUAUCCUCCGACUAAGUGUAUUCGUAUACUUAGUGCCUUGUGCCUGCUUCGGCAGGCAUGACCCAAAUGUGCCUUUCGGGGCACAUUUCCGGUCAUCCAAGUUCGCUUGGGUGAUGCGGGCGUAUAGGUUCGUCUAUACGUCCGCGUUUUCCGAGAAGAGGUAACUCGGGAAACCGGUCCACGUGACAAAGGUAGAGUUACGUGGAGGGAGCAGCUGCAAAGGGAUAAUGCAGUUGCUGGCUGGAUGCCAGAACUCACGACUGGCAUCUACGGGGAUGGUGCUCUCCCAAUUCUCCAUUUACCGCCGAAUCGACCCCAACGUGAGAGGGGUCGGUUCCCCGAGCAUAGACCAAUAUCCCAGGUUUAUGCUCCCCAACGCUGGACGAACUACCUACGUCUAGCGUUCCGGCAAAUGAGUCAAUACCUCAGACUUAUUUGCGGUGCCUGAGCCUAAACUGAACAUGGGUUCAGGCAUCUUGGCUCCAGUUCGCUGGAGCCGACGGUAGCGCUGCGUUCGCGCAGUGCUAGGGAGCAUCCGUUUUCGAGCGGAUGCUGGGCGGUUGCCUGUUCGCAGGCAAUCGGGCCUACUCAUGAUUCGUCAUGAGUGGUGACAGCGUGAUGUUCGCAUUACGCUGUCGGGUAGAUGGAGAAUU',
       'GGACACGAGUAACUCGUCUAUCUUCUGCAGGCUGCUUACGGUUUCGUCCGUGUUGCAGCCGAUCAUCAGCACAUCUAGGUUUCGUCCGGGUGUGACCGAAAGGUAAGAUGGAGAGCCUUGUCCC',
       'GGAGCAUCGUGUCUCAAGUGCUUCACGGUCACAAUAUACCGUUUCGUCGGGUGCGUGGCAAUUCGGUGCACAUCAUGUCUUUCGUGGCUGGUGUGGCUCCUCAAGGUGCGAGGGGCAAGUAUAGAGCAGAGCUCC',
       'GCGUACAGGGAACACGCAACCCCGAAGGAUCGGGGAAGGGACGUCGCCAGGGAGGCGAUUCCAUCAGGAUGAUGACGAGGGACUGAAGAGUGGGCGGGGUAAUACCCCGCCCCUUUUU'],
      dtype=object)

In [15]:
df_test_seq['sequence'].unique()

array(['GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU',
       'GGGGGCCACAGCAGAAGCGUUCACGUCGCGGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU',
       'CGCCCGGAUAGCUCAGUCGGUAGAGCAGCGGCUAAAACAGCUCUGGGGUUGUACCCACCCCAGAGGCCCACGUGGCGGCUAGUACUCCGGUAUUGCGGUACCCUUGUACGCCUGUUUUAGCCGCGGGUCCAGGGUUCAAGUCCCUGUUCGGGCGCCA',
       'UUGGGUUCCCUCACCCCAAUCAUAAAAAGG',
       'GGAAUCUCGCCCGAUGUUCGCAUCGGGAUUUGCAGGUCCAUGGAUUACACCAUGCAACGCAGACCUGUAGAUGCCACGCUAGCCGUGGUGAGGGUCGGGUCCAGAUGUCAUUCGACUUUAACGCGCCUAAGCGUUGAAGGCGUGUUAGAGCAGAUAGUUCGCUAUCUGGGGAGCCUGUUCGCAGGCUCAGGAGCCUUCGGGCUCCUAGCGCUAUUACCCCGGACACCACCGGGCAGACAAGUAAUGGUGCUCCUCGAAUGACUUCUGUUGAGUAGAGUGUGGGCUCCGCGGCUAGUGUGCACCUUAGCGGUGAAUGUCUGACACCGUUAAGGUGGUUACUCUUCGGAGUAACGCCGAGAUUCC',
       'GGAAUAUCGUCAUGGUGAUUCGUCACCAUGAGGCUAGAUCUCAUAUCUAGCGCUUUCGAGCGCUAGAGUCCUUAUCUAGCCGGUUUAUACUUUCGAGUGUGAACCCGAUAUUCCGCGGAUCACUAUGAGUCGUUCGCGGCUCAUAGUCCGGCUCAAAGGACAUCAUGGCCUGUUCGCAGGUUGUGAUUAUGAGUGAGCCGGGUAAGGCAUACCGUUCGCGGUAUGUCUUACGAUCCGC',
       'GGAUACGUCUACGCUCAGUGACGGACUCUCUUCGGAGAGUCUGACAUCCGAACCAUACACGGAUGUGCCUCGCCGAACAGUCUACGGCGAGCUUAAGCGCUGGGGACGCCCAACGCAUCACAAAGACUGAGUGAUGAACCAGAAGUAUGGACUGGUUGCGUUGGUGGAGACGGUCGGGUCCAGUUCGCUGUCGAGUAGAGUGUGGGCUCCAUCGACGCCGCUUUAAGGUCCCCAAUCGUGGCGUGUCGGCCUGCUUCGGCAGGCACUGGCGCCGGGACCUUGAAGAGAUGAGAUUUCGAUCUCAUCUUUGGGUGUCUCUGGUGCUUGAGGGCCCUGUGUUCGCACAGGGCCGCUCACUGGGUGUGGACGUAUCC',
       'GGGAGAGUACUAUUCAGAUGCAGACCGCAAGUUCAGAGCGGUUUGCAUCUAGGGUACGUUUUCGAACGUAUCCUCCGACUAAGUGUAUUCGUAUACUUAGUGCCUUGUGCCUGCUUCGGCAGGCAUGACCCAAAUGUGCCUUUCGGGGCACAUUUCCGGUCAUCCAAGUUCGCUUGGGUGAUGCGGGCGUAUAGGUUCGUCUAUACGUCCGCGUUUUCCGAGAAGAGGUAACUCGGGAAACCGGUCCACGUGACAAAGGUAGAGUUACGUGGAGGGAGCAGCUGCAAAGGGAUAAUGCAGUUGCUGGCUGGAUGCCAGAACUCACGACUGGCAUCUACGGGGAUGGUGCUCUCCCAAUUCUCCAUUUACCGCCGAAUCGACCCCAACGUGAGAGGGGUCGGUUCCCCGAGCAUAGACCAAUAUCCCAGGUUUAUGCUCCCCAACGCUGGACGAACUACCUACGUCUAGCGUUCCGGCAAAUGAGUCAAUACCUCAGACUUAUUUGCGGUGCCUGAGCCUAAACUGAACAUGGGUUCAGGCAUCUUGGCUCCAGUUCGCUGGAGCCGACGGUAGCGCUGCGUUCGCGCAGUGCUAGGGAGCAUCCGUUUUCGAGCGGAUGCUGGGCGGUUGCCUGUUCGCAGGCAAUCGGGCCUACUCAUGAUUCGUCAUGAGUGGUGACAGCGUGAUGUUCGCAUUACGCUGUCGGGUAGAUGGAGAAUU',
       'GGACACGAGUAACUCGUCUAUCUUCUGCAGGCUGCUUACGGUUUCGUCCGUGUUGCAGCCGAUCAUCAGCACAUCUAGGUUUCGUCCGGGUGUGACCGAAAGGUAAGAUGGAGAGCCUUGUCCC',
       'GGAGCAUCGUGUCUCAAGUGCUUCACGGUCACAAUAUACCGUUUCGUCGGGUGCGUGGCAAUUCGGUGCACAUCAUGUCUUUCGUGGCUGGUGUGGCUCCUCAAGGUGCGAGGGGCAAGUAUAGAGCAGAGCUCC',
       'GCGUACAGGGAACACGCAACCCCGAAGGAUCGGGGAAGGGACGUCGCCAGGGAGGCGAUUCCAUCAGGAUGAUGACGAGGGACUGAAGAGUGGGCGGGGUAAUACCCCGCCCCUUUUU'],
      dtype=object)

In [16]:
df_validation_seq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   target_id        12 non-null     object
 1   sequence         12 non-null     object
 2   temporal_cutoff  12 non-null     object
 3   description      12 non-null     object
 4   all_sequences    12 non-null     object
dtypes: object(5)
memory usage: 612.0+ bytes

In [17]:
df_train_seq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844 entries, 0 to 843
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   target_id        844 non-null    object
 1   sequence         844 non-null    object
 2   temporal_cutoff  844 non-null    object
 3   description      844 non-null    object
 4   all_sequences    839 non-null    object
dtypes: object(5)
memory usage: 33.1+ KB

In [18]:
df_fasta['sequence'].iloc[0] in df_train_seq['sequence'].values

True

In [19]:
df_fasta['sequence'].iloc[0]

'GGACUAGCGGAGGCUAGUCC'

In [20]:
df_train_label.head()

         ID resname  resid     x_1        y_1     z_1
0  1SCL_A_1       G      1  13.760 -25.974001   0.102
1  1SCL_A_2       G      2   9.310 -29.638000   2.669
2  1SCL_A_3       G      3   5.529 -27.813000   5.878
3  1SCL_A_4       U      4   2.678 -24.900999   9.793
4  1SCL_A_5       G      5   1.827 -20.136000  11.793

In [21]:
df_train_seq.head()

,target_id,sequence,temporal_cutoff,description,all_sequences
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA..."

In [22]:
onehotres = pd.get_dummies(df_train_label['resname']).reindex(columns=['A', 'U', 'G', 'C'], fill_value=0)
onehotres = onehotres.astype(int)
df_train = pd.concat([df_train_label, onehotres], axis=1)
df_train.head()

         ID resname  resid     x_1        y_1     z_1  A  U  G  C
0  1SCL_A_1       G      1  13.760 -25.974001   0.102  0  0  1  0
1  1SCL_A_2       G      2   9.310 -29.638000   2.669  0  0  1  0
2  1SCL_A_3       G      3   5.529 -27.813000   5.878  0  0  1  0
3  1SCL_A_4       U      4   2.678 -24.900999   9.793  0  1  0  0
4  1SCL_A_5       G      5   1.827 -20.136000  11.793  0  0  1  0

In [23]:
def one_hot_rna(seq):
    map_nt = {'A': [1, 0, 0, 0],
              'U': [0, 1, 0, 0],
              'G': [0, 0, 1, 0],
              'C': [0, 0, 0, 1]}
    return np.array([map_nt.get(nt, [0, 0, 0, 0]) for nt in seq])

In [24]:
# One-hot encode sequences
df_train_seq['prim_seq'] = df_train_seq['sequence'].apply(one_hot_rna)

In [25]:
df_train_seq.head()

,target_id,sequence,temporal_cutoff,description,all_sequences,prim_seq
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,..."
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,..."
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,..."
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."

In [26]:
df_train_label[['name', 'position']] = df_train_label['ID'].str.rsplit('_', n = 1, expand=True)

# If you want the number as an integer:
df_train_label['position'] = df_train_label['position'].astype(int)
df_train_label.head()

         ID resname  resid     x_1        y_1     z_1    name  position
0  1SCL_A_1       G      1  13.760 -25.974001   0.102  1SCL_A         1
1  1SCL_A_2       G      2   9.310 -29.638000   2.669  1SCL_A         2
2  1SCL_A_3       G      3   5.529 -27.813000   5.878  1SCL_A         3
3  1SCL_A_4       U      4   2.678 -24.900999   9.793  1SCL_A         4
4  1SCL_A_5       G      5   1.827 -20.136000  11.793  1SCL_A         5

In [27]:
test = df_train_label[df_train_label['name'] == '1HLX_A']
test

            ID resname  resid     x_1     y_1    z_1    name  position
87    1HLX_A_1       G      1 -10.127  -6.587 -7.376  1HLX_A         1
88    1HLX_A_2       G      2  -9.419  -6.704 -1.318  1HLX_A         2
89    1HLX_A_3       G      3  -6.191  -6.382  3.539  1HLX_A         3
90    1HLX_A_4       A      4  -1.379  -5.931  5.581  1HLX_A         4
91    1HLX_A_5       U      5   3.264  -3.672  5.623  1HLX_A         5
92    1HLX_A_6       A      6   7.134  -0.203  3.682  1HLX_A         6
93    1HLX_A_7       A      7   8.018   3.771  0.683  1HLX_A         7
94    1HLX_A_8       C      8   6.341   7.476 -2.086  1HLX_A         8
95    1HLX_A_9       U      9   2.738  12.123 -2.381  1HLX_A         9
96   1HLX_A_10       U     10   1.078  17.150 -5.763  1HLX_A        10
97   1HLX_A_11       C     11  -1.636  15.000  0.141  1HLX_A        11
98   1HLX_A_12       G     12  -5.508  14.255 -4.483  1HLX_A        12
99   1HLX_A_13       G     13  -3.214   9.644 -3.941  1HLX_A        13
100  1HLX_A_14       U     14  -0.212   5.467 -5.375  1HLX_A        14
101  1HLX_A_15       U     15   2.904   1.042 -6.492  1HLX_A        15
102  1HLX_A_16       G     16   6.398  -3.663 -4.431  1HLX_A        16
103  1HLX_A_17       U     17   5.482  -8.035 -2.035  1HLX_A        17
104  1HLX_A_18       C     18   2.057 -11.770  0.153  1HLX_A        18
105  1HLX_A_19       C     19  -2.481 -13.713  0.589  1HLX_A        19
106  1HLX_A_20       C     20  -7.853 -13.855 -0.582  1HLX_A        20

In [28]:
# Sort residues by molecule and position
df_train_label = df_train_label.sort_values(['name', 'position'])

# Group by molecule and convert coordinates to array
target_coords = (
    df_train_label.groupby('name')[['x_1', 'y_1', 'z_1']]
    .apply(lambda g: g.to_numpy())
    .reset_index(name='target_coordinates')
)
target_coords.head()

     name                                 target_coordinates
0  17RA_A  [[35.85699844360352, -10.769000053405762, -7.5...
1  1A1T_B  [[1.2940000295639038, -21.07999992370605, -4.4...
2  1A4T_A  [[12.475000381469728, 5.5329999923706055, 4.20...
3  1A51_A  [[3.733000040054321, -28.17300033569336, -1.09...
4  1A60_A  [[62.49700164794922, 38.55799865722656, -108.8...

In [29]:
target_coords['target_id'] = target_coords['name']
target_coords.head()

     name                                 target_coordinates target_id
0  17RA_A  [[35.85699844360352, -10.769000053405762, -7.5...    17RA_A
1  1A1T_B  [[1.2940000295639038, -21.07999992370605, -4.4...    1A1T_B
2  1A4T_A  [[12.475000381469728, 5.5329999923706055, 4.20...    1A4T_A
3  1A51_A  [[3.733000040054321, -28.17300033569336, -1.09...    1A51_A
4  1A60_A  [[62.49700164794922, 38.55799865722656, -108.8...    1A60_A

In [30]:
df_train_seq.head()

,target_id,sequence,temporal_cutoff,description,all_sequences,prim_seq
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,..."
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,..."
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,..."
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."

In [31]:
train_set = pd.merge(df_train_seq, target_coords, on = 'target_id')

In [32]:
train_set.head()

,target_id,sequence,temporal_cutoff,description,all_sequences,prim_seq,name,target_coordinates
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,...",1SCL_A,"[[13.760000228881836, -25.974000930786133, 0.1..."
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...",1RNK_A,"[[4.264999866485596, 1.955000042915344, -10.86..."
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...",1RHT_A,"[[9.36400032043457, -5.64300012588501, 8.15600..."
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...",1HLX_A,"[[-10.126999855041504, -6.586999893188477, -7...."
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...",1HMH_E,"[[17.235000610351562, 25.27300071716309, 45.17..."

In [33]:
train_set = train_set.drop('name', axis = 1)

In [34]:
# design kmers counting feature
from collections import Counter

def kmer_features(sequence, k=3):
    """Extracts k-mer counts from a sequence."""
    sequence = sequence.upper()
    kmers = [sequence[i:i+k] for i in range(len(sequence) - k + 1)]
    return Counter(kmers)

def encode_dataframe(df, sequence_col='sequence', k=3):
    """Apply k-mer encoding to a dataframe."""
    # Get all k-mer counts
    kmer_counts_list = df[sequence_col].apply(lambda seq: kmer_features(seq, k))
    
    # Turn list of Counters into a DataFrame
    feature_df = pd.DataFrame.from_records(kmer_counts_list).fillna(0)
    
    # Optionally add id column back
    feature_df.index = df.index  # keep the same index
    return feature_df
 

# Apply it
k = 3
kmer_features_df = encode_dataframe(train_set, sequence_col='sequence', k=k)
col_sums = kmer_features_df.sum(axis=0)
filtered_kmer_features_df = kmer_features_df.loc[:, col_sums > 1]

# Combine with original if needed
train_set_2 = pd.concat([train_set, filtered_kmer_features_df], axis=1)

train_set_2.head()

,target_id,sequence,temporal_cutoff,description,all_sequences,prim_seq,target_coordinates,GGG,GGU,GUG,...,UGU,UCC,CCU,AUG,CGU,UUA,UUU,AUU,ACA,AAU
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[13.760000228881836, -25.974000930786133, 0.1...",1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[4.264999866485596, 1.955000042915344, -10.86...",1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[9.36400032043457, -5.64300012588501, 8.15600...",1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[-10.126999855041504, -6.586999893188477, -7....",1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[17.235000610351562, 25.27300071716309, 45.17...",0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [35]:
train_set_2.shape

(844, 71)

In [40]:
import RNA

def predict_structure(sequence):
    (structure, mfe) = RNA.fold(sequence)
    return structure


# function to vectorize the dot bracket anotation
def dot_bracket_vectorizer(dot_bracket):
    """Vectorize a dot-bracket notation into a matrix."""
    mapping = {
        '.': [1, 0, 0],
        '(': [0, 1, 0],
        ')': [0, 0, 1]
    }
    vectors = [mapping[char] for char in dot_bracket]
    return np.array(vectors)

In [41]:
# Predict structures
train_set_2['2nd_structure'] = train_set_2['sequence'].apply(predict_structure)

# Vectorize
train_set_2['structure_vector'] = train_set_2['2nd_structure'].apply(dot_bracket_vectorizer)

In [42]:
train_set_2.head()

,target_id,sequence,temporal_cutoff,description,all_sequences,prim_seq,target_coordinates,GGG,GGU,GUG,...,CCU,AUG,CGU,UUA,UUU,AUU,ACA,AAU,2nd_structure,structure_vector
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[13.760000228881836, -25.974000930786133, 0.1...",1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,((((((...((.(.....).)).)))))),"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [..."
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[4.264999866485596, 1.955000042915344, -10.86...",1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,(((((((....)).)))))...............,"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [..."
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[9.36400032043457, -5.64300012588501, 8.15600...",1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,.((((((.((....))))))))..,"[[1, 0, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [..."
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[-10.126999855041504, -6.586999893188477, -7....",1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,((((((((....)))))))),"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [..."
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[17.235000610351562, 25.27300071716309, 45.17...",0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,..............((((....))))........,"[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [..."

In [43]:
def predict_mfe(sequence):
    (structure, mfe) = RNA.fold(sequence)
    return mfe
train_set_2['mfe'] = train_set_2['sequence'].apply(predict_mfe)
train_set_2.head()

,target_id,sequence,temporal_cutoff,description,all_sequences,prim_seq,target_coordinates,GGG,GGU,GUG,...,AUG,CGU,UUA,UUU,AUU,ACA,AAU,2nd_structure,structure_vector,mfe
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[13.760000228881836, -25.974000930786133, 0.1...",1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,((((((...((.(.....).)).)))))),"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-9.7
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[4.264999866485596, 1.955000042915344, -10.86...",1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,(((((((....)).)))))...............,"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-10.1
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[9.36400032043457, -5.64300012588501, 8.15600...",1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,.((((((.((....))))))))..,"[[1, 0, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-9.0
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[-10.126999855041504, -6.586999893188477, -7....",1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,((((((((....)))))))),"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-10.8
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[17.235000610351562, 25.27300071716309, 45.17...",0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,..............((((....))))........,"[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [...",-8.1

In [48]:
#compute bppm
def get_bppm(sequence):
    fc = RNA.fold_compound(sequence)
    fc.pf()
    plist = fc.bpp()

    length = len(sequence)
    bppm = np.zeros((length, length))

    for p in plist:
        i = p[0] - 1  # 0-based indexing
        j = p[1] - 1
        prob = p[2]   # always take the third element
        if i < j:
            bppm[i, j] = prob
            bppm[j, i] = prob
    return bppm


# Flatten the matrix
def flatten_bppm(bppm):
    return bppm[np.triu_indices_from(bppm, k=1)]

# Apply to the DataFrame
train_set_2['bppm'] = train_set_2['sequence'].apply(lambda seq: flatten_bppm(get_bppm(seq)))

# Show the DataFrame
train_set_2.head()

,target_id,sequence,temporal_cutoff,description,all_sequences,prim_seq,target_coordinates,GGG,GGU,GUG,...,CGU,UUA,UUU,AUU,ACA,AAU,2nd_structure,structure_vector,mfe,bppm
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[13.760000228881836, -25.974000930786133, 0.1...",1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,((((((...((.(.....).)).)))))),"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-9.7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[4.264999866485596, 1.955000042915344, -10.86...",1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,(((((((....)).)))))...............,"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-10.1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[9.36400032043457, -5.64300012588501, 8.15600...",1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,.((((((.((....))))))))..,"[[1, 0, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-9.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...,"[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 1, 0], [1,...","[[-10.126999855041504, -6.586999893188477, -7....",1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,((((((((....)))))))),"[[0, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [...",-10.8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[17.235000610351562, 25.27300071716309, 45.17...",0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,..............((((....))))........,"[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0], [...",-8.1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [50]:
df = train_set_

array([[ 13.76000023, -25.97400093,   0.102     ],
       [  9.31000042, -29.63800049,   2.66899991],
       [  5.52899981, -27.81299973,   5.87799978],
       [  2.67799997, -24.90099907,   9.79300022],
       [  1.82700002, -20.13599968,  11.79300022],
       [  2.03999996, -14.90799999,  11.77099991],
       [  1.10699999, -11.51299953,   7.5170002 ],
       [  2.99099994,  -6.40600014,   4.78299999],
       [  0.89600003,  -1.19299996,   7.6079998 ],
       [  0.228     ,   2.64599991,   9.12800026],
       [  4.329     ,   2.71799994,   4.8039999 ],
       [  5.16499996,   4.79199982,  -0.91399997],
       [  2.6099999 ,   9.49499989,  -2.30800009],
       [  1.17400002,  13.82900047,   0.20100001],
       [  1.58000004,  20.11499977,   3.75999999],
       [ -1.57500005,  16.9279995 ,   5.89699984],
       [ -6.05100012,  14.76200008,   5.22399998],
       [ -5.5539999 ,  10.41499996,   4.30900002],
       [ -3.10700011,   6.40500021,   2.11999989],
       [ -1.40999997,   3.33500004,  -2.65499997],
       [  1.86600006,  -0.71600002,  -4.33300018],
       [  3.65499997,  -4.44399977,  -2.4849999 ],
       [  5.31400013,  -7.65600014,   1.13      ],
       [  7.93100023,  -9.52799988,   5.78100014],
       [  8.73499966, -12.64799976,  10.02499962],
       [  9.1079998 , -17.29599953,  13.02099991],
       [  8.89700031, -22.6060009 ,  14.30799961],
       [  9.67300034, -28.33799934,  13.29199982],
       [ 12.64099979, -30.90699959,   9.64500046]])

In [52]:
train_set_2.columns

Index(['target_id', 'sequence', 'temporal_cutoff', 'description',
       'all_sequences', 'prim_seq', 'target_coordinates', 'GGG', 'GGU', 'GUG',
       'UGC', 'GCU', 'CUC', 'UCA', 'CAG', 'AGU', 'GUA', 'UAC', 'ACG', 'CGA',
       'GAG', 'AGA', 'AGG', 'GGA', 'GAA', 'AAC', 'ACC', 'CCG', 'CGC', 'GCA',
       'CAC', 'CCC', 'GGC', 'GCG', 'UGG', 'CUA', 'UAG', 'AGC', 'GCC', 'CCA',
       'ACU', 'CAA', 'AAA', 'AAG', 'CAU', 'GAC', 'CUG', 'UGA', 'GAU', 'AUC',
       'GUC', 'UCU', 'UAU', 'AUA', 'UAA', 'CUU', 'UUC', 'UCG', 'CGG', 'GUU',
       'UUG', 'UGU', 'UCC', 'CCU', 'AUG', 'CGU', 'UUA', 'UUU', 'AUU', 'ACA',
       'AAU', '2nd_structure', 'structure_vector', 'mfe', 'bppm'],
      dtype='object')

In [ ]:
df = train_set_2
kmer_feature_names = [col for col in df.columns if col not in ['target_id', 'sequence', 'temporal_cutoff', 'description',
       'all_sequences', 'prim_seq', 'target_coordinates', '2nd_structure', 'structure_vector', 'mfe', 'bppm']]
graphs = [build_graph_from_row(row, kmer_feature_names) for _, row in df.iterrows()]
loader = DataLoader(graphs, batch_size=1, shuffle=True)
x_dim = df.iloc[0]['seq_onehot'].shape[1] + len(kmer_feature_names) + df.iloc[0]['dot_bracket_vec'].shape[1] + 1  # +1 for mfe
model = RNAGNN(embed_dim=x_dim)
train(model, loader, epochs=20, lr=0.0005, alpha=0.8)